.wellprobackground{ 
	 background: url(/Images/wellpro.jpg) 
	 no-repeat center center fixed; 
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	    width: 100vw;
	    height: 100vh;
}

.logoIndex {
    width: 100%!important;
    padding: 30px;
    min-width: 280px;
}
.inputForm {
    width: 100%;
    padding: 1.3em;
    font-family: sans-serif;
}
.button {
    background-color: #d60000;
    border: none;
    color: #fff;
    padding: 5em 10em 5em 10em;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-border-radius: 5px;
}
.input-margin{
	margin-top: 1em;
}

.textarea {
	width: 100%;
    padding: 1em;
    font-family: sans-serif; 
    resize:none;
    border: 0;     
    border-radius: 1em;
  	
}

.center-align{
	text-align: center;

}


input[type=text] ,[type=email]{padding:5px; border:2px solid #ccc; 
	-webkit-border-radius: 5px;
    border-radius: 5px;
}
